textarea {
  min-height: 72vh !important;
  font-family: monospace;
}

@media screen and (max-width: 1023px) {
  .navbar {
    display: flex;
    flex-shrink: 2;
    justify-content: space-between;
  }

  .navbar-menu {
    background-color: inherit;
    box-shadow: none;
    padding: 0;
    display: flex;
  }
}

.rs-widget {}
.rs-state-sign-in {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 400px;
}

.save {
  margin: 12px;
}

.account-tree {
  margin-top: 6px !important;
  margin-bottom: 10px !important;
  font-family: monospace;
}
  .account-tree .columns:hover {
    background: #f9ebcb;
  }
  .account-tree .column {
    padding-top: 0.3em;
    padding-bottom: 0.4em;
  }
  .account-tree .name {
    white-space: pre-wrap;
  }
  .account-tree .amount {
    text-align: right;
  }
